
body {
	width: 100%;
	height: 100%;
	background-color: black;

}

.info-box {
	background-color: white;
	height: 50%;
}
.name-title {
	text-align: center;
}

.subtitle {
	text-align: center;
	font-size: 20px;
}

.links {
	text-align: center;
	padding: 10%;
}


.project-title {
	text-align: center;
	font-size: 25px;
	letter-spacing: 2px;
	position: relative;
	top: 40%;

}

.show-box-project-title {
	/*text-align: center;
	font-size: 25px;*/
	color: white;
}

.foodie-box, .task-box, .balance-box  {
	height: 50%;
	padding-right: 0%;
	padding-left: 0%;

}
.foodie-show-box {
	height: 100%;
	width: 100%;
	background-color: purple;
}

.task-show-box {
	height: 100%;
	width: 100%;
	background-color: blanchedalmond;
}

.balance-show-box {
	height: 100%;
	width: 100%;
	background-color: green;
}


.foodie-image, .task-image, .balance-image {
	height: 100%;
	width: 100%;
}

.foodie-content, .task-content, .balance-content {
	width: 100%;
	height: 100%;
}

.project-text {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	top: 25%;
	text-align: center;

}

.project-info {
	color: white;
	font-size: 16px;
}

.foodie-content:before {
  content: "";
  background: url("./images/foodie-image2.png");
  opacity: 0.5;
  filter: blur(3px);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.task-content:before {
  content: "";
  background: url("./images/taskapp-image.png");
  background-position: center;
  opacity: 0.5;
  filter: blur(3px);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.balance-content:before {
  content: "";
  background: url("./images/balanceapp-image.png");
  background-position: center;
  opacity: 0.5;
  filter: blur(3px);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
